/* src/components/Filters.css */

.filters {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.filters h2 {
  margin-top: 0;
}

.filters input,
.filters select {
  display: block;
  width: 100%;
  padding: 8px 10px;
  margin: 5px 0 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  white-space: nowrap;
}

.date-filter {
  display: flex;
  align-items: center;
}

.date-filter select {
  flex: 1;
}
